@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*==== Colors ====*/
    --body-color: rgb(228, 233, 247);
    --sidebar-color: #FFF;
    --primary-color: #6c6bb3;
    --primary-color-light: #F6F5FF;
    --toggle-color: #ddd;
    --text-color: #3f3f3f;

    /*==== Transition ====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.task-container{
    display: flex;
    flex-wrap: wrap;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.task-container .page-title{
    padding-top: 20px;
    align-self: center;
}

.tasks-container{
    height: fit-content;
    align-items: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.task-model{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    transition: var(--tran-03);
}

.task-model:hover{
  padding-left: 10px;
  background-color: #b0b0cc;
}


.task-detail{
    display: flex;
    width: 100%;
    gap: 10px;
}

.task-detail a{
  display: flex;
  flex-direction: column;
}


.task-model i{
    font-size: 20px;
}

.task-model .details{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: black;
}

.task-model li .icon1{
    color: rgb(0, 120, 233);
}

.task-model li .icon2{
  color: rgb(212, 255, 0);
}

.task-model li .icon3{
  color: rgb(15, 0, 97);
}

.task-model li .icon4{
  color: rgb(255, 0, 200);
}

.task-model i{
    color: green;
}

.task-model .due{
    color: gray;
    padding-left: 10px;
    font-size: 13px;
}

.task-model .task-assignedto{
    font-size: 12px;
    color: var(--text-color);
    width: 180px;
}

.separators{
    border-bottom: 1px solid #6666666b;
    width: 100%;
  }

  .task-assigned{
    padding-top: 10px;
    align-self: center;
  }

  .task-assigned,
  .tasks-container {
            flex: 1;
        }

  /*===== Profile Container =====*/
  
  .profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
  }

  .profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .img-container{
    width: 200px; 
    height: 200px; 
    background-color: #ccc;
    border-radius: 50%; 
    overflow: hidden; 
    position: relative;
    border-style: groove;
    border-width: 5px;
    border-color: var(--primary-color);
    object-fit: cover;
  }

  .prof-img{
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .prof{
    width: 150px; 
    height: 60px;
    object-fit: cover;
  }

  .name-holder{
    margin-top: 20px;
    font-weight: bold;
  }

  .profile-details{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    background-color: var(--primary-color-light);
    
  }

  .profile-details .text{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    width: 100%;
    font-weight: bolder;
    padding-left: 10px;
    gap: 20px;
  }

  .main-details{
    color: var(--text-color);
    font-weight: normal;
    width: 60%;
  }

  .text-details{
    width: 30%;
  }

  .password{
    border: none;
    color: var(--text-color);
  }

  .edit-profilebtn{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    border-width: 1px;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin-bottom: 20px;
  }

  .edit-profilebtn:hover{
    color: var(--primary-color);
    background-color: var(--primary-color-light);
  }

  /*==== Edit Profile Container ====*/

  .edit-profile-container{
        position: relative;
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        width: 500px;
        height: 600px;
        color: var(--primary-color);
        border-radius: 7px;
  }

  .edit-profile-container .forms{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.error-message{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60vh;
    margin-bottom: -5vh;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 40px;
    font-weight: bold;
    color: red;
    background-color: rgba(214, 28, 28, 0.2); 
    border-radius: 7px;
    backdrop-filter: blur(1px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.edit-profile-container .forms .field{
    background-color: rgb(228, 233, 247,0);
    width: 100%;
    height: 30px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 3px;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: var(--text-color);
    font-weight: bold;
    border-width: 1px;
    color: var(--text-color);
}

.edit-profile-container .forms .submit-btn{
    border-radius: 5px;
    border-color: var(--primary-color);
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    cursor: pointer;
    font-weight: bold;
    transition: var(--tran-04);
}

.edit-profile-container .forms a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.edit-profile-container .forms p{
    color: var(--text-color);
}

.edit-profile-container .forms .submit-btn:hover{
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

.edit-profile-container .icons{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 600px;
    margin-left: -11px;
}

input:focus {
  outline: none;
}

.edit-profile-container .icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: -100px;
    margin-left: -300px;
}

@media only screen and (max-width: 600px) {
  .task-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .task-assigned,
  .tasks-container {
      width: 100%;
  }
  .main-details{
    width: 50%;
    font-size: 11px;
  }

  .text-details{
    width: 30%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 430px) {
  .task-container {
      flex-direction: column;
      flex-wrap: nowrap;
  }

  .task-assigned,
  .tasks-container {
      width: 100%;
  }

  .main-details{
    padding-left: 20px;
    width: 100%;
    font-size: 12px;
  }

  .text-details{
    width: 100%;
    font-size: 12px;
  }

  
}