@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*==== Colors ====*/
    --body-color: rgb(228, 233, 247);
    --sidebar-color: #FFF;
    --primary-color: #6c6bb3;
    --primary-color-light: #F6F5FF;
    --toggle-color: #ddd;
    --text-color: #3f3f3f;

    /*==== Transition ====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-text img{
    width: 250px;
    border-radius: 6px;
    transition: var(--tran-05);
    margin-bottom: -20px;
}

header .image-text{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 30px;
    margin-left: -60px;
    margin-top: -150px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.header-text .name{
    font-weight: 600;
    margin-top: -20px;
}

.header-text .profession{
    margin-top: -7px;
}

header{
    margin-bottom: -20px;
}

.form-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .1vh;
    width: 500px;
    height: 350px;
    color: var(--primary-color);
    background-color: rgb(228, 233, 247, .2); 
    border-radius: 7px;
    backdrop-filter: blur(1px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-container .forms{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-container .forms .field{
    background-color: rgb(228, 233, 247,0);
    width: 100%;
    height: 30px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 3px;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: var(--text-color);
    font-weight: bold;
    border-width: 1px;
    color: var(--text-color);
}

.form-container .forms .submit-btn{
    border-radius: 5px;
    border-color: var(--primary-color);
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 0, 0,0);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: var(--tran-04);
}

.form-container .forms a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.form-container .forms p{
    color: var(--text-color);
}

.form-container .forms .submit-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border-color: var(--primary-color);
    cursor: pointer;
}

.form-container .icons{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 600px;
}

.form-container .icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: -50px;
    margin-left: -255px;
}
.error-message{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60vh;
    margin-bottom: -5vh;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 40px;
    font-weight: bold;
    color: red;
    background-color: rgba(214, 28, 28, 0.2); 
    border-radius: 7px;
    backdrop-filter: blur(1px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

input:focus {
    outline: none;
  }

