@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*==== Colors ====*/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #6c6bb3;
    --primary-color-light: #F6F5FF;
    --toggle-color: #ddd;
    --text-color: #3f3f3f;

    /*==== Transition ====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;


}

body{
    height: 100vh;
    background: var(--body-color);
}

/*=== Reusable CSS ===*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
    margin-left: -88px;
}

.sidebar.close .image-text img{
    padding-top: 10px;
    width: 70px;
    border-radius: 6px;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;

}

.prof-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: -90px;
    right: 20px;
    background-color: var(--primary-color-light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 10px;
    border-radius: 20px;
    visibility: hidden;
    transition: var(--tran-03);
    opacity: 0;
}

.prof-menu.active{
    top: 90px;
    visibility: visible;
    opacity: 1;
}

.prof-menu ul{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prof-menu li:hover{
    background-color: #adadb8;
    color: var(--primary-color-light);
    padding-left: 5px;
}

.prof-menu li{
    transition: var(--tran-03);
    border-radius: 10px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 100px;
}

.prof-menu li i{
    font-size: 30px;
    color: var(--primary-color);
}

.prof-menu h5{
    margin-top: 5px;
    align-self: center;
    color: var(--text-color);
    font-size: 20px;
}

/* === Sidebar ===*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.scrollbar{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
}

.scrollbar::-webkit-scrollbar {
    width: 2px;
    margin-right: 100px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 53%, 0);
    border-radius: 3px; 
  }

.sidebar.close{
    width: 88px;
}

.sidebar.close header .toggle{
    transform: rotate(0deg);
    margin-top: -10px;
}

.sidebar li{
    height: 50px;
    margin-top: 3px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: green;
}

.sidebar li .icon2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(44, 33, 187);
}


.sidebar li .icon3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(0, 102, 0);
}

.sidebar li .icon4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(151, 13, 110);
}

.sidebar li .icon5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(102, 0, 0);
}

.sidebar li .icon6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(214, 104, 0);
}

.sidebar li .icon7{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(21, 75, 0);
}

.sidebar li .icon8{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(0, 120, 233);
}

.sidebar li .icon9{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(212, 255, 0);
}

.sidebar li .icon10{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(15, 0, 97);
}

.sidebar li .icon11{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(255, 0, 200);
}

.sidebar li .icon12{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: green;
}

.sidebar li .icon13{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 60px;
    color: rgb(128, 0, 0);
}

.sidebar li .text{
    font-size: 15px;
    color: var(--text-color);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 100px;
    border-radius: 6px;
    transition: var(--tran-05);
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -10px;
    transform: rotate(180deg);
    transition: var(--tran-05);
    height: 25px;
    width: 25px;
    background: #162938;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    cursor: pointer;
}

.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon1,
.sidebar li a:hover .icon2,
.sidebar li a:hover .icon3,
.sidebar li a:hover .icon4,
.sidebar li a:hover .icon5,
.sidebar li a:hover .icon6,
.sidebar li a:hover .icon7,
.sidebar li a:hover .icon8,
.sidebar li a:hover .icon9,
.sidebar li a:hover .icon10,
.sidebar li a:hover .icon11,
.sidebar li a:hover .icon12,
.sidebar li a:hover .icon13,
.sidebar li a:hover .text{
    color: var(--primary-color-light);
}

.menu ul{
    padding-left: 1px;
}

.separator{
    border-bottom: 2px solid #ccc; 
    padding-bottom: 5px; 
  }

  /* === Header ===*/

.header-body{
    position: relative;
    background-color: #6b6aaa;
    transition: var(--tran-05);
    margin-left: 250px;
    height: 100px;
}

.header-body.close{
    margin-left: 88px;
}

.acc-holder{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.acc-holder li{
list-style: none;
}


.acc-holder li a{
    text-decoration: none;
    color: var(--primary-color-light);
    
}

.acc-holder .prof{
    margin-top: 20px;
    width: 60px;
    border-radius: 50px;
}

.acc-holder a{
    margin-top: 15px;
    margin-bottom: 10px;
}

.acc-holder .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

/*=== Body ===*/

.content-container{
    margin-left: 250px;
    height: 100%;
    transition: var(--tran-04);
}

.content-container.close{
    margin-left: 88px;
}

/*===== Pop-up Container =====*/

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-left: auto;
    padding-bottom: 20px;
    padding-right: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
    transition: var(--tran-04);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
    border-radius: 30px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 40px;
}

.close-btn:hover{
    color: var(--text-color);
}

/*=== Responsive ===*/

@media only screen and (max-width: 850px){
    .sidebar{
        width: 88px;
    }

    .sidebar.close{
        position: fixed;
        height: 100%;
        width: 560px;
        padding: 10px 14px;
        transition: var(--tran-05);
    }

    .sidebar.close .text{
        opacity: 1;
        margin-left: 88px;
    }

    .sidebar .text{
        opacity: 0;
        margin-left: -88px;
    }
    
    .sidebar .image-text img{
        width: 70px;
    }
    .sidebar.close .image-text img{
        width: 100px;
    }


    .header-body{
        margin-left: 88px;
        
    }

    .content-container{
        margin-left: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-body.close{
        position: absolute;
        margin-left: 800px;
        display: none;
    }

    .content-container.close{
        margin-left: 800px;
        display: none;
    }

    .sidebar header .toggle{
        transform: rotate(0deg);
        margin-top: -10px;
    }

    .sidebar.close header .toggle{
        position: absolute;
        margin-left: -800px;
        transform: rotate(180deg);
        transition: var(--tran-05);
    }

}

@media only screen and (max-width: 380px){

    .sidebar{
        width: 0px;
        background-color: #cccccc00;
        transition: var(--tran-03);
    }

    .separator{
        opacity: 0;
    }

    .sidebar.close .separator{
        opacity: 1;
    }

    .sidebar.close{
        position: fixed;
        height: 100%;
        width: 360px;
        padding: 10px 14px;
        transition: var(--tran-03);
    }

    .sidebar.close .text{
        opacity: 1;
        margin-left: 70px;
    }

    .sidebar .text{
        opacity: 0;
        margin-left: -88px;
    }
    
    .sidebar .image-text img{
        width: 70px;
        margin-left: -400px;
    }
    .sidebar.close .image-text img{
        width: 100px;
        margin-left: 40px;
    }

    .header-body{
        margin-left: 10px;
        width: 95%;
    }

    .content-container{
        width: 95%;
        margin-left: 10px;
        padding-left: 10px;
    }

    .header-body.close{
        position: absolute;
        margin-left: 800px;
    }

    .content-container.close{
        margin-left: 800px;
    }

    .sidebar header .toggle{
        transform: rotate(0deg);
        margin-top: -40px;
        margin-left: 1px;
        position: relative;
        
    }

    .sidebar.close header .toggle{
        position: absolute;
        margin-left: -800px;
        transform: rotate(180deg);
        transition: var(--tran-05);
    }


}

@media only screen and (max-width: 380px){

    .sidebar.close{
        width: 260px;
    }

    .sidebar.close .image-text img{
        margin-left: 20px;
    }

    .sidebar.close .text{
        margin-left: 10px;
    }

    h5{
        font-size: 15px;
    }

    h4{
        font-size: 15px;
    }

}